html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.title {
    font-weight: bold;
    font-size: 70px;
    color: #fff;
    border: 3px solid #fff;
    padding: 30px 60px;
}
section {
    height: 100vh;
    width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#sec-1 {
    background-color: rgb(138, 13, 196);
}
#sec-2 {
    background-color: aliceblue;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
    